.grid{
    background : yellow;
    height : 400px;
    width : 200px;
    display : flex;
    flex-wrap : wrap;
}

.grid > div {
    background : red;
    height : 20px;
    width : 20px;
    /* border: .1px solid black */
}